*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    min-height: 100vh;
    background-color: aquamarine;
}

h1{
    font-size: 2.5rem;
}

.btn{
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    column-gap: 10px;
    row-gap: 10px;
}

.btn button{
    border: none;
    border-radius: 10px;
    background-color: white;
    font-size: 1.5rem;
    transition: transform 0.2s ease;
}

.btn button:hover{
    scale: 1.1;
}

.players{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    font-size: 20px;
}

.players i{
    color: blue;
}

.start{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 25px;
    height: 40px;
    border-radius: 999px;
    border: none;
    background-color: blueviolet;
    color: white;
    font-size: 15px;
}

.reset{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
    border-radius: 999px;
    border: none;
    background-color: blueviolet;
    color: white;
    
}

.none{
    display: none;
}

/* resposivness*/

@media (max-width: 480px) {
    .players{
        font-size: 14px;
        justify-content: space-evenly;
    }

    .start,.reset{
        scale: 1.2;
    }
}
